<footer>
    <div>
        <span class="copyright">&copy; UniFiesta</span>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
    <div>
        <i class="fa-lg fa-brands fa-instagram"></i>
        <i class="fa-lg fa-brands fa-square-twitter"></i>
    </div>
</footer>
</body>
</html>