<%- include('./partials/header.ejs') %>
    <main>
        <h1>About UniFiesta</h1>
        <div class="info">
            <p>Welcome to UniFiesta, the pulsating heart of campus life! Founded in 2000, UniFiesta has been an integral part of our university's culture, bringing students, faculty, and staff together in celebration and camaraderie.</p>
            <p>At UniFiesta, we believe in the power of community and the importance of fostering connections beyond the classroom. Our aim is to create a vibrant and inclusive environment where everyone feels welcomed and valued.</p>
            <p>Through a diverse array of events and activities, UniFiesta offers something for everyone. Whether you're a sports enthusiast, a lover of the arts, or simply seeking new experiences, there's bound to be something that ignites your passion and sparks your curiosity.</p>
            <p>But UniFiesta is more than just a series of events – it's a reflection of who we are as a university community. It's a testament to our collective spirit, creativity, and resilience. It's a reminder that, no matter how busy life gets, it's essential to take time to laugh, connect, and celebrate.</p>
            <p>Join us as we continue to write the next chapter of UniFiesta's story. Together, let's make memories, forge friendships, and celebrate the vibrant tapestry of our university community.</p>
        </div>
    </main>
<%- include('./partials/footer.ejs') %>
