<%- include('./partials/header.ejs') %>
    <main>
        <h1>UniFiesta: A Gathering of Campus Fun</h1>
        <div class="info">
            <p>Embark on a journey of joy and connection at UniFiesta, an exuberant rendezvous brimming with thrilling activities set against the backdrop of our dynamic university campus! Whether your heart beats for board games, outdoor sports, or the simple pleasure of forging new connections, UniFiesta promises an experience tailored just for you. Unwind from the rigors of academia, forge new friendships, and immerse yourself in the vivacious spirit of our university community. Let the festivities commence!</p>
        </div>
        <div class="help">
            <p>Explore the Events section to discover a myriad of exciting possibilities!</p>
        </div>
    </main>
<%- include('./partials/footer.ejs') %>